<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_EmployeeTab</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@*<div>
    <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="@Url.Action("ViewEmployee", "Employee")">Employee</a></li>
            <li><a data-toggle="tab" href="@Url.Action("ViewSkill", "Skill")">Skill</a></li>
            <li><a data-toggle="tab" href="#">Education</a></li>
            <li><a data-toggle="tab" href="#menu3">Certifications</a></li>
            <li><a data-toggle="tab" href="#menu4">Documents</a></li>
            <li><a data-toggle="tab" href="#menu5">Employment History</a></li>
        </ul>
</div>*@

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">@Html.ActionLink("Skills","ViewSkill","Skill")</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="@Url.Action("ViewSkill", "Skill")" aria-controls="ViewSkill" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">Hey Um Home</div>
            <div role="tabpanel" class="tab-pane" id="profile">Hey Um profile</div>
            <div role="tabpanel" class="tab-pane" id="messages">Hey um message</div>
            @*<div role="tabpanel" class="tab-pane" id="settings">@Html.RenderAction("ViewSkill")</div>*@
        </div>

    </div>









@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        //$('#myTabs a').click(function(e) {
        //    e.preventDefault(),
        //        $(this).tab('show');
        //});
        $('#myTabs a[href="#profile"]').tab('show') // Select tab by name
        $('#myTabs a:first').tab('show') // Select first tab
        $('#myTabs a:last').tab('show') // Select last tab
        $('#myTabs li:eq(2) a').tab('show') // Select third tab (0-indexed)


    </script>
</body>
</html>
