<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Employee Management System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-briefcase" aria-hidden="true">Qualification</i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Skill", "ViewSkill", "Skill")</li>
                            <li>@Html.ActionLink("Education", "ViewEducation", "Education")</li>
                            <li>@Html.ActionLink("Exam", "ViewExam", "Exam")</li>
                            <li>@Html.ActionLink("Certification", "ViewCertificate", "Certification")</li>
                            <li>@Html.ActionLink("language", "ViewLanguage", "Language")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-briefcase" aria-hidden="true">Employee</i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Employee", "ViewEmployee", "Employee")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-briefcase" aria-hidden="true">Employee Education</i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add Education", "", "")</li>
                            <li>@Html.ActionLink("View Education", "", "")</li>
                            <li>@Html.ActionLink("Edit Education", "", "")</li>
                            <li>@Html.ActionLink("Delete Education", "", "")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-briefcase" aria-hidden="true">Employee Documents</i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add Employement", "", "")</li>
                            <li>@Html.ActionLink("View Employement", "", "")</li>
                            <li>@Html.ActionLink("Edit Employement", "", "")</li>
                            <li>@Html.ActionLink("Delete Employement", "", "")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-briefcase" aria-hidden="true">Report</i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add Employement", "", "")</li>
                            <li>@Html.ActionLink("View Employement", "", "")</li>
                            <li>@Html.ActionLink("Edit Employement", "", "")</li>
                            <li>@Html.ActionLink("Delete Employement", "", "")</li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-briefcase" aria-hidden="true">Settings</i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Designation", "SaveDesignation", "Designation")</li>
                            <li>@Html.ActionLink("Department", "SaveDepartment", "Department")</li>
                            <li>@Html.ActionLink("Country", "SaveCountry", "Country")</li>
                            <li>@Html.ActionLink("Division", "SaveDivision", "Division")</li>
                            <li>@Html.ActionLink("District", "SaveDistrict", "District")</li>
                            <li>@Html.ActionLink("Policestation", "SavePoliceStation", "PoliceStation")</li>
                            <li>@Html.ActionLink("Union", "SaveUnion", "Union")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div align="center">
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
