@model EMS.Models.Union
@{
    ViewBag.Title = "EditUnion";
}

<h2></h2>
<hr />
<p>
    @Html.ActionLink("View Union", "ViewAllUnion", "Union", new { @class = "btn btn-primary" })
</p>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.PoliceStationId, new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.PoliceStationId, ViewBag.PoliceStationId as SelectList, "Select Policestation--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PoliceStationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnionCode, new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.UnionCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnionCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnionName, new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.UnionName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnionName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                @Html.ActionLink("Reset", "SaveUnion", "Union", null, new { @class = "btn btn-warning" }) ||
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}


