@model EMS.Models.EmployeeCertification

@{
    ViewBag.Title = "EditEmployeeCertification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<section class="content" style="width: 800px;">
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Save Employee Skill</h4>
                    </div>
                    <br/>
                    @Html.HiddenFor(model=>model.Id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeId as SelectList, "Select Employee Reg.No.", new { @class = "form-control", @id = "EmployeeId" })
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!----Start Show Area---->
                    <div class="form-group">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="Name" name="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Email</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="Email" name="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">NID</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="NID" name="NID" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Department</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="Department" name="Department" />
                        </div>
                    </div>
                    <!----End Show Area---->


                    <div class="form-group">
                        @Html.LabelFor(model => model.CertificationId, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.CertificationId, ViewBag.CertificationId as SelectList, "Select Certification", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CertificationId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituteName, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.InstituteName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InstituteName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FromDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "FromDate", @readonly = true })
                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "ToDate", @readonly = true })
                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Save" class="btn btn-success" /> ||
                            @Html.ActionLink("Reset", "SaveEmployeeCertification", "EmployeeCertification", null, new { @class = "btn btn-warning" }) ||
                            @Html.ActionLink("View", "ViewEmployeeCertification", "EmployeeCertification", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#EmployeeId").change(function () {
                //  alert($(this).val() + " " + $(this).find("option:selected").html());
                var emId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEmployeeInfoById", "EmployeeSkill")',
                    data: '{employeeId: "' + emId + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //alert(data.LastName);
                        $("#Name").val(data.name);
                        $("#Email").val(data.email);
                        $("#NID").val(data.nid);
                        $("#Department").val(data.department.DepartmentName);
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve counties.');
                    }
                });

            });
        });


        //Date picker for From Date
        $('#FromDate').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            daysOfWeekHighlighted: "0,1,2,3,4,6",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });

        //Date picker for To Date
        $('#ToDate').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            daysOfWeekHighlighted: "0,1,2,3,4,6",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });

    </script>
}
