@model EMS.Models.EmployeEducation
@{
    ViewBag.Title = "EditEmployeeEducation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<section class="content" style="width: 800px;">
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Edit Employee Education</h4>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeRegNo as SelectList, "Select Employee Reg.No.", new { @class = "form-control", @id = "EmployeeId" })
                            @Html.ValidationMessageFor(model => model.EmployeeId)
                        </div>
                    </div>

                    <!----Start Show Area---->
                    <div class="form-group">
                        <label class="control-label col-md-4">Employee Name</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="Name" name="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Employee Email</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="Email" name="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Employee NID</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="NID" name="NID" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Employee Department</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="Department" name="Department" />
                        </div>
                    </div>
                    <!----End Show Area---->
                    <div class="form-group">
                        @Html.LabelFor(model => model.EducationId, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.EducationId, ViewBag.EducationId as SelectList, "Select Education", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EducationId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExamId, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.ExamId, new SelectList(" "), "Select Exam", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ExamId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Subject)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituteName, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.InstituteName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InstituteName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FromDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "FromDate", @readonly = "true", @placeholder = "Set from Date" })
                            @Html.ValidationMessageFor(model => model.FromDate)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "ToDate", @readonly = "true", @placeholder = "Set to Date" })
                            @Html.ValidationMessageFor(model => model.ToDate)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Duration, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Duration, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Duration)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PassingYear, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.PassingYear, new { @class = "form-control", @id = "year", @readonly = "true", @placeholder = "Set passing year" })
                            @Html.ValidationMessageFor(model => model.PassingYear)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Edit" class="btn btn-success" /> ||
                            @Html.ActionLink("Reset", "SaveEmployeeEducation", "EmployeeEducation", null, new { @class = "btn btn-warning" }) ||
                            @Html.ActionLink("View", "ViewEmployeeEducation", "EmployeeEducation", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#EmployeeId").change(function () {
                var emId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEmployeeInfoById", "EmployeEducation")',
                    data: '{employeeId: "' + emId + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //alert(data.LastName);
                        $("#Name").val(data.name);
                        $("#Email").val(data.email);
                        $("#NID").val(data.nid);
                        $("#Department").val(data.department.DepartmentName);
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve counties.');
                    }
                });

            });
        });
        //This Section End
        //----------------------New Section Start
        //This Section is for getExam by Education using cascading dropdown
        $(document).ready(function () {
            $('#EducationId').change(function () {
                $.get("/EmployeEducation/GetExam", {
                    educationId:
                        $("#EducationId").val()
                }, function (data) {
                    $("#ExamId").empty();
                    $.each(data, function (index, row) {
                        $("#ExamId").append("<option value='" + row.Id + "'>" + row.ExamName + "</option>");
                    });
                });
            });
        });
        //Cascading dropdown End

        //Year picker start
        $('#year').datepicker({
            minViewMode: 2,
            format: 'yyyy'
        });

        //Date picker for From Date
        $('#FromDate').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            daysOfWeekHighlighted: "0,1,2,3,4,6",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });

        //Date picker for To Date
        $('#ToDate').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            daysOfWeekHighlighted: "0,1,2,3,4,6",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
    </script>



}          