@model IEnumerable<EMS.Models.District>

@{
    ViewBag.Title = "Index";
}

<br />
<section class="content" style="background-color: #ffffff;">

    <p>
        @Html.ActionLink("Add District", "SaveDistrict", "District", new { @class = "btn btn-primary" })
    </p>
    <hr />

    <table id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Division.DivisionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistrictCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistrictName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Division.DivisionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DistrictCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DistrictName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditDistrict", new { id = item.Id }) ||
                        @Html.ActionLink("Delete", "DeleteDistrict", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
