@model IEnumerable<EMS.Models.Designation>

@{
    ViewBag.Title = "ViewDesignation";
}
<section class="content">
    <p>
        @Html.ActionLink("Add Designation", "SaveDesignation", "Designation", new { @class = "btn btn-primary" })
    </p>
    <h3>Designation List</h3>
    <hr />
    <table id="myTable" class="table table-responsive table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DesignationCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DesignationName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesignationCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesignationName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditDesignation", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteDesignation", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
