@model EMS.Models.EmployeeSkill

@{
    ViewBag.Title = "EditEmployeeSkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<section class="content" style="width: 800px;">
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Edit Employee Skill</h4>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeId as SelectList, "Select Employee Reg.No.", new { @class = "form-control", @id = "EmployeeId" })
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!----Start Show Area---->
                    <div class="form-group">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="Name" name="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Email</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="Email" name="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">NID</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="NID" name="NID" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Department</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" class="form-control" id="Department" name="Department" />
                        </div>
                    </div>
                    <!----End Show Area---->

                    <div class="form-group">
                        @Html.LabelFor(model => model.SkillId, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.SkillId, ViewBag.SkillId as SelectList, "Select Skill", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SkillId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Details, new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextAreaFor(model => model.Details, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Save" class="btn btn-success" /> ||
                            @Html.ActionLink("Reset", "SaveEmployeeSkill", "EmployeeSkill", null, new { @class = "btn btn-warning" }) ||
                            @Html.ActionLink("View", "ViewEmployeeSkill", "EmployeeSkill", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#EmployeeId").change(function () {
                //  alert($(this).val() + " " + $(this).find("option:selected").html());
                var emId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEmployeeInfoById", "EmployeeSkill")',
                    data: '{employeeId: "' + emId + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //alert(data.LastName);
                        $("#Name").val(data.name);
                        $("#Email").val(data.email);
                        $("#NID").val(data.nid);
                        $("#Department").val(data.department.DepartmentName);
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve counties.');
                    }
                });

            });
        });

    </script>
}